<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introvert Extrovert Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Personality Predictor</h1>
        <form method="POST">
  {% for feature in features %}
    <label for="{{ feature }}">{{ feature.replace('_', ' ') }}</label>
    
    {% if feature == "Stage_fear" or feature == "Drained_after_socializing" %}
      <select name="{{ feature }}" required>
        <option value="">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    {% else %}
      <input type="number" step="any" name="{{ feature }}" required>
    {% endif %}
  {% endfor %}

  <button type="submit">Predict</button>
</form>

        {% if prediction %}
            <div class="result">Prediction: {{ prediction }}</div>
        {% endif %}
    </div>
</body>
</html>